<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whopaid">

    <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- LOCATION PERMISSIONS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhoPaid">

        <!-- AUTH -->
        <activity android:name="com.example.whopaid.ui.auth.RegisterActivity" />
        <activity android:name="com.example.whopaid.ui.auth.LoginActivity" />

        <!-- GROUPS -->
        <activity android:name="com.example.whopaid.ui.groups.GroupsActivity" />
        <activity android:name="com.example.whopaid.ui.groups.CreateGroupActivity" />
        <activity android:name="com.example.whopaid.ui.groups.GroupDetailsActivity" />
        <activity android:name="com.example.whopaid.ui.groups.ScanQrActivity" />
        <activity android:name="com.example.whopaid.ui.groups.ShowGroupQrActivity" />
        <activity android:name="com.example.whopaid.ui.groups.GroupMapActivity" />

        <!-- EXPENSES -->
        <activity android:name="com.example.whopaid.ui.expenses.ExpensesActivity" />
        <activity android:name="com.example.whopaid.ui.expenses.CreateExpenseActivity" />
        <activity android:name="com.example.whopaid.ui.expenses.BalanceActivity" />

        <!-- LOCATION SERVICE -->
        <service android:name=".service.LocationService" android:exported="false"/>

        <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WhoPaid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
